<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^$ media.php?module=home [L]
RewriteRule ^page/(.*)/$ media.php?module=page&juduls=$1 [L]
RewriteRule ^berita/$ media.php?module=semuaberita&id=$1 [L]
RewriteRule ^berita/(.*)/$ media.php?module=detailberita&judul=$1 [L]
RewriteRule ^index/berita/([0-9]+)/$ media.php?module=semuaberita&halberita=$1 [L]
RewriteRule ^komentar/berita/(.*)/([0-9]+)/$ media.php?module=detailberita&judul=$1&halkomentar=$2 [L]

RewriteRule ^agenda/index/(.*)/([0-9]+)/$ media.php?module=semuaagenda&ag=$1&halagenda=$2 [L]
RewriteRule ^agenda/detail/(.*)/$ media.php?module=detailagenda&tema=$1 [L]

RewriteRule ^result/poll/$ media.php?module=hasilpoling [L]
RewriteRule ^view/poll/$ media.php?module=lihatpoling [L]

RewriteRule ^kategori/(.*)/([0-9]+)/$ media.php?module=detailkategori&kt=$1&halkategori=$2 [L]
RewriteRule ^tag/(.*)/([0-9]+)/$ media.php?module=detailtag&idt=$1&haltag=$2 [L]
RewriteRule ^cari/$ media.php?module=hasilcari&kata=$1 [L]

RewriteRule ^download/$ media.php?module=semuadownload&haldownload=$1 [L]
RewriteRule ^downloadkategori/(.*)/([0-9]+)/$ media.php?module=downloadkategori&dk=$1&halkategoridownload=$2 [L]
RewriteRule ^download/detail/(.*)/$ media.php?module=detaildownload&id=$1 [L]
RewriteRule ^halkategoridownload/(.*)/([0-9]+)/([0-9]+)/$ media.php?module=detailkategoridownload&id=$2&halkategoridownload=$3 [L]

RewriteRule ^album-(.*)-([0-9]+)\.html$ media.php?module=detailalbum&album=$1&halgaleri=$2 [L]
RewriteRule ^all/$ media.php?module=semuaalbum&id=$1 [L]
RewriteRule ^galeri-([0-9]+)-(.*)\.html$ media.php?module=zoomfoto&foto=$1 [L]
RewriteRule ^halgaleri-([0-9]+)-(.*)\.html$ media.php?module=detailalbum&album=$1&halgaleri=$2 [L]


RewriteRule ^bukutamu/$ media.php?module=bukutamu [L]
RewriteRule ^bukutamu/([0-9]+)/$ media.php?module=bukutamu&halbukutamu=$1 [L]

RewriteRule ^404\.shtml$ media.php?module=notfound&id=$1 [L]

RewriteRule ^hubungi/$ media.php?module=hubungi&hub=$1 [L]
RewriteRule ^hubungi/submit/$ media.php?module=hubungiaksi&id=$1 [L]

</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php5_module>
   php_flag asp_tags On
   php_flag display_errors On
   php_value max_execution_time 90
   php_value max_input_time 200
   php_value max_input_vars 3000
   php_value memory_limit 128M
   php_value post_max_size 100M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea3"
   php_value upload_max_filesize 200M
   php_flag zlib.output_compression On
</IfModule>
<IfModule lsapi_module>
   php_flag asp_tags On
   php_flag display_errors On
   php_value max_execution_time 90
   php_value max_input_time 200
   php_value max_input_vars 3000
   php_value memory_limit 128M
   php_value post_max_size 100M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea3"
   php_value upload_max_filesize 200M
   php_flag zlib.output_compression On
</IfModule>
# END cPanel-generated php ini directives, do not edit
